<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
     

        <li class="nav-item">
            <a class="nav-link collapsed"  routerLink="/dashbord">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed " routerLink="/profile">
            <i class="bi bi-person"></i>
            <span>Profil</span>
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed"  routerLink="/listeutilisateurs">
                
                <i class="ri-parent-line"></i>
                <span>Liste des utilisateurs</span>
            </a>
        </li><!-- End Profile Page Nav -->


        
   
<!-- End Register Page Nav -->
    </ul>

</aside><!-- End Sidebar-->
<head>
    <!-- Autres balises head -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
