<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

</head>
<!DOCTYPE html>
<html lang="en">



<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center"
        style="background-color: rgb(69, 147, 199);">    

        <div class="d-flex align-items-center justify-content-between">
            <a class="logo d-flex align-items-center">
                <img src="../../../assets/assets/img/img1.png" alt="" class="logoUser">
                <span class="d-none d-lg-block">PanelGuard</span>
            </a>
        </div>




        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item" routerLink="/accueil"> <a class="nav-link nav-profile d-flex align-items-center pe-0" href="accueil"
                        data-bs-toggle="dropdown">

                        <i class="bi bi-house"></i>
                        <span style="margin: 10px;" routerLink="/accueil"> <b>Accueil </b> </span>

                    </a></li>
              
        <li class="nav-item" routerLink="/rechercheutilisateur">
    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
        <i class="bi bi-search"></i>
        <span style="margin: 10px;" ><b>Recherche</b></span>
    </a>
</li>


                <li class="nav-item" routerLink="/login">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">

                        <i class="bi bi-box-arrow-right"></i>
                        <span style="margin: 10px;" > <b>Déconnexion </b> </span>

                    </a>
                    <!-- End Profile Image Icon -->
                </li><!-- End Profile Nav -->
            </ul>
        </nav>

    </header>
    